.Meaning h3 {
  color: #0a58ca;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.Meaning h4 {
  color: #0a58ca;
  display: inline;
  font-size: 15px;
  font-weight: 500;
}

.Meaning p {
  color: gray;
  font-size: 15px;
}
